@font-face {
  font-family: 'MuseoSansCurly';
  src: url('./fonts/Museo Sans Cyrl 500 Regular.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('./fonts/helveticaneuecyr-light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'as';
  src: url('./fonts/museosanscyrl_100.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'MuseoSansCurly', sans-serif;
}

.container{
    max-width: 1203px;
    margin: 0 auto;
}

header{
    padding-top: 57px;
    background: #333;
}

header .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header .container .top{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

header .container .top p{
    font-size: 12px;
    text-align: right;
    color: #FFF;
}

header .container .links{
    display: flex;
    gap: 8px;
}

header .container .links button{
    padding: 10px;
    border-radius: 12px 12px 0 0;
    background: #EDEDED;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'MuseoSansCurly', sans-serif;
    justify-content: center;
    width: 255px;
    border: none;
    height: 50px;
    gap: 10px;

    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
}

header .container .links a{
    border-radius: 12px 12px 0 0;
    background: #BDBDBD;
    text-decoration: none;
    display: flex;
    width: 255px;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
}

.section1{
    padding: 59px 0;
    background: #f5f5f5;
}

.section1 .container{
    display: flex;
    align-items: center;
    gap: 25px;
}

.section1 .container p{
    color: #353535;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.section2{
    padding: 40px 0;
    background: #EAEAEA;
}

.sc .top{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.num{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 38px;
    border-radius: 6px;
    background: #FBD00F;

    color: #000;
    font-size: 38px;
    font-weight: 600;
    line-height: 24px; /* 63.158% */
    text-transform: uppercase;
}

.title{
    color: #000;
    font-size: 32px;
    font-weight: 600;
}

.section2 .bottom{
    display: flex;
    gap: 20px;
}

.section2 .bottom .item{
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: start;
    width: 33.333%;
}

.section2 .bottom .item p{
    color: #000;
    font-size: 18px;
}

.section3{
    padding: 40px 0;
    background: #f5f5f5;
}

.section3 .top{
    margin-bottom: 42px;
}

.section3 .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.section3 .bottom p{
    width: 790px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.sc1{
    background: #EAEAEA;
}

.sc1 .top{
    margin-bottom: 19px;
}

.sc2 .bottom p{
    width: 686px;
}

.sc3 .top{
    margin-bottom: 5px;
}

.sc3 .bottom p{
    width: 590px;
}

.sc3{
    background: #EAEAEA;
}

.sc4 .top{
    margin-bottom: 34px;
}

.sc4 .bottom p{
    max-width: 1109px !important;
    width: 100%
}

.sc4 .images{
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 34px;
}


.sc5 .top{
    margin-bottom: 36px;
}

.sc5{
    background: #EAEAEA;
}

.sc5 .bottom{
    justify-content: unset;
    gap: 23px;
}

.sc5 .bottom p{
    width: 590px;
}

.sc5 .top{
    margin-bottom: 45px;
}

.sc6 .bottom p{
    width: 590px;
}

.sc6{
    padding-bottom: 66px;
}

.sc6 .bottom{
    justify-content: unset;
    gap: 42px;
}

.a1{
    padding: 0;
    padding-bottom: 148px;
    background-color: #f5f5f5;
}

.ad{
    padding: 0;
    background-color: #f5f5f5;
}

.ad .top{
    padding-bottom: 32px;
}

.ad1{
    padding-bottom: 33px;
}

.ad2{
    padding-bottom: 40px;
}

.ad3{
    padding-bottom: 18px;
}

.ad4{
    padding-bottom: 40px;
}

.ad5{
    padding-bottom: 40px;
}

.ad6{
    padding-bottom: 18px;
}

.ad7{
    padding-bottom: 18px;
}

.ad8{
    padding-bottom: 18px;
}

.ad9{
    padding-bottom: 33px;
}

.ad9 .bottom{
    justify-content: unset;
    gap: 27px;
}

.ad10{
    padding-bottom: 59px;
}

.ad10 .bottom{
    justify-content: unset;
    gap: 27px;
}

.ad11{
    padding-bottom: 53px;
}

.ad12{
    padding-bottom: 44px;
}

.ad12 .bottom{
    justify-content: unset;
    gap: 6px;
}

.ad13{
    padding-bottom: 100px;
}

.ad13 .bottom{
    justify-content: unset;
    gap: 6px;
}

footer{
    background: #333;
    padding-top: 55px;
    padding-bottom: 40px;
    position: sticky;
    z-index: 2;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .left{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    align-items: start;
    gap: 20px;
}

footer .left p{
    color: #FFF;

    /* LGM/p2 */
    font-size: 12px;
    font-weight: 300;
    line-height: 18px; /* 150% */
    
    font-family: 'HelveticaNeueCyr', sans-serif;
}

footer .left a{
    color: #FFF;

    /* LGM/p2 */
    font-size: 12px;
    font-weight: 100;
    line-height: 18px; /* 150% */
    font-family: 'HelveticaNeueCyr', sans-serif;
}



.s1{
    background-color: #FFF;
}

.sectionn1{
    background: #EAEAEA;
    padding: 40px 0;
}

.sectionn1 .top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.sectionn1 .bottom{
    display: flex;
    gap: 20px;
}

.sectionn1 .bottom .item{
    width: 387px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: start;
}

.n1 .top{
    margin-bottom: 29px;
}

.n2{
    background-color: #FFF;
}

.n2 .top{
    margin-bottom: 42px;
}

.n2 .bottom{
    gap: 21px;
}

.n2 .bottom .item{
    width: 33.333%;
    gap: 9px;
}

.n3{
    background: #EAEAEA;
}

.n4{
    background-color: #FFF;
}

.n4 p{
    width: 686px;
    color: #000;
    font-size: 18px;
}

.n5 .top{
    margin-bottom: 26px;
}

.n5 .bottom{
    display: flex;
    align-items: center;
    gap: 58px;
}

.n5 .bottom p{
    width: 590px;
    color: #000;
    font-size: 18px;
}

.n6{
    background-color: #FFF;
}

.n6 .top{
    margin-bottom: 34px;
}

.n6 .bottom{
    margin-top: 25px;
    gap: 22px;
}

.n6 .bottom .item{
    gap: 25px;
}

.n7 .top{
    margin-bottom: 36px;
}

.n7 .bottom{
    gap: 23px;
}

.n7 .bottom .item{
    gap: 25px;
}

.n7{
    position: relative;
}

.abso{
    position: absolute;
    bottom: -24px;
    right: 100px;
}

.ad13{
    position: relative;
}

.ad13 p{
    position: sticky;
    z-index: 2;
}

.wrapper{
    overflow-x: hidden;
}

.ru,
.uz,
.tj{
    display: none;
}

.sc .bottom p br{
    display: none;
}

.sc3 .img2{
    display: none;
}

.p2{
    display: none;
}

.p{
    display: none;
}

.ad .top{
    padding: 0;
    margin: 0;
    padding-bottom: 32px;
}

.fww p{
    display: none;
}

.up{
    width: 85px;
    height: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 9px;
    background: #FBD00F;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.up p{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
}

.n5 .bottom p br{
    display: none;
}

.br{
    display: block !important;
}

.prev,
.next{
    display: none;
}

.sc .img2{
        display: none;
    }

.swiperas{
    display: none !important;
}

.swiperas1{
    display: none !important;
}


@media(max-width:1220px){
    .container{
        padding: 0 24px;
    }

    
    .sc4 .images img{
        width: 33.333%;
    }
}

@media(max-width:1020px){
    footer .center .buttons{
        flex-direction: column;
    }
}

@media(max-width:888px){
    .abso{
        display: none;
    }

    .sc4 .images img{
    width: 28%;
}
}

@media(max-width:840px){
    footer .container{
        flex-wrap: wrap;
        gap: 20px;
    }

    footer .logo{
        margin: 0 auto;
    }
}

@media(max-width:790px){
    .sc5 .bottom img{
        width: 400px;
    }

    .sc3 .bottom img{
        width: 400px;
    }
}

@media(max-width:720px){
    .n4 p{
        width: 100%;
    }
}

@media(max-width:675px){
    .n5 .bottom{
        gap: 15px;
    }
}

@media(max-width:620px){
    .n5 .bottom{
        flex-direction: column-reverse;
    }

    .sc2 .bottom{
        flex-direction: column;
    }

    .l2{
        gap: 23px !important;  
        margin-bottom: 25px;
    }

    .l2 img{
        margin:0 auto;
    }

    .sc3 .bottom{
        flex-direction: column;
    }

    .sc2 .bottom p{
        width: 100%;
    }

    .sc5 .bottom{
        flex-direction: column;
    }

    .sc5 .bottom p{
        width: 100%;
    }

    .sc4{
        overflow-x: hidden;
    }

    .n5 .bottom img{
        width: 100%;
    }

    .n5 .bottom p br{
        display: block;
    }

    .n5 .bottom p{
        width: 100%;
    }

    .n5 .title{
        font-size: 24px;
    }

    .n6 .title{
        font-size: 21px;
    }

    .n1 .top,
    .n2 .top,
    .n3 .top,
    .n4 .top,
    .n5 .top,
    .n6 .top,
    .n7 .top{
        margin-bottom: 25px;
    }

    .n1,
    .n2,
    .n3,
    .n4,
    .n5,
    .n6,
    .n7{
        background: #EDEDED !important;
    }

    .sectionn1{
        padding: 25px 0;
    }

    .sd{
        padding: 40px 0;
    }

    .sd .up{
        top: -2px;
    }

    .section2 .bottom{
        gap: 0;
        margin-left: 24px ;
        padding-right: 24px;
    }
    
    .mn{
        display: none !important;
    }

    .section2 .bottom .item{
        width: 100% !important;
    }

    .section2 .bottom .item img{
        width: 100%;
    }

    .prev,
    .next{
        border: none;
        display: block;
    }

    .swiperas{
        display: block !important;
    }

    .swiperas1{
        display: block !important;
    }

    .swiperas1 .bottom{
        flex-direction: row !important;
    }

    .swiperas1 .bottom img{
        /* width: auto !important; */
    }

    .swiperas1 .bottom .item{
        width: 100% !important;
    }

}

@media(max-width:600px){
    footer .center{
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    footer .left{
        padding: 0;
    }
}

@media(max-width:550px){
    header{
        padding-top: 19px;
    }

    .section2{
        margin-bottom: 0 !important;
    }

    header .container{
        gap: 19px;
    }

    .logo img{
        width: 103px;
        height: 25px;
    }

    .rus,
    .uzb,
    .tjk{
        display: none;
    }

    .ru,
    .uz,
    .tj{
        display: block;
    }

    header .container .links a{
        border-radius: 6px 6px 0 0;
        color: #000;    
    }

    header .container .links button{
        border-radius: 6px 6px 0 0;
        color: #8D8D8D;
        background: #EDEDED;
    }

    .section1{
        padding: 24px;
        background: #EDEDED;
    }

    .section1 img{
        width: 31px;
        height: 45.84px;    
    }

    .section1 span{
        display: none;
    }

    .section1 .container p{
        color: #353535;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

    .title{
        font-size: 25px;
        line-height: 25px;
        width: 70%;
        color: #353535;
    }

    .num{
        height: 44px;
        width: 63px;
    }
    
    .section2,
    .section3 .top{
        margin-bottom: 25px;
    }

    .section2,
    .section3{
        padding: 25px 0;
        background: #EDEDED;
    }

    .section3 .bottom{
        flex-direction: column;
        gap: 25px;
    }

    .swiperas1 .bottom{
        gap: 0;
    }

    .section3 .bottom img{
        width: 100%;
    }

    .section3 .bottom p{
        width: 100%;
    }

    .sc .bottom p br{
        display: block;
    }

    .sc .img1{
        display: none;
    }

    .sc .img2{
        display: block;
    }
    
    .section3 .bottom p{
        font-size: 16px;
    }
    
    .p1{
        display: none;
    }

    .p2{
        display: block;
        padding-top: 38px;
        font-weight: 600;
    }

    .ad .top{
        padding-bottom: 0;
    }

    .p{
        display: block;
        padding-top: 25px;
    }

    .ad .top{
        padding-bottom: 25px;
    }

    .ad6 .top{
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .ad6 p{
        display: none;
    }

    .ad8 p{
        display: none;
    }

    .ad8 .p3{
        display: block;
    }

    .fww p{
        display: block;
    }

    .ad9 .container{
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .ad9 .top{
        margin-bottom: 0;
    }

    .ad9 .bottom p{
        display: none;
    }

    .ad9{
        padding-top: 0;
    }

    .ad .top{
        margin-bottom: 0;
    }

    .ad10 .container{
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .ad10 .top{
        margin-bottom: 0;
    }

    .ad10 .bottom p{
        display: none;
    }

    .ad10{
        padding-top: 0;
    }

    .ad12 .container{
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .ad12 .top{
        margin-bottom: 0;
    }

    .ad12 .bottom p{
        display: none;
    }

    .ad12{
        padding-top: 0;
    }

    .ad13 .container{
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .ad13 .top{
        margin-bottom: 0;
    }

    .ad13 .bottom p{
        display: none;
    }

    .ad13{
        padding-top: 0;
        padding-bottom: 45px;
    }

    footer{
        padding: 28px 0;
        position: relative;
    }

    footer .logo{
        display: none;
    }

    footer .container{
        justify-content: center;
        text-align: center;
    }

    footer .left{
        text-align: center;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .up{
        display: flex;
        top: -39px;
    }
}

@media(max-width:480px){
    .section2 .bottom{
        gap: 25px;
    }

    .section2 .bottom .item{
        width: 94% !important;
    }

    .section2 .bottom .item img{
        width: 304px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

.nav1{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
    justify-content: center;
}

.nav1 .count b,
.nav1 .count i{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
}

footer .center{
    display: flex;
    flex-direction: column;
}

footer .center .pp{
    color: #FFF;
    font-family: 'HelveticaNeueCyr';
    font-size: 18px;
    font-weight: 400;
    line-height: 18px; /* 100% */
    margin-bottom: 9px;
}

footer .center .tel{
    color: #FFF;
    font-family: 'HelveticaNeueCyr';
    font-size: 22px;
    font-weight: 400;
    line-height: 18px; /* 81.818% */
    text-decoration: none;
    margin-bottom: 11px;
}

footer .center .buttons{
    display: flex;
    gap: 11px;
}

footer .center .buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 38px;
    gap: 10px;
    border-radius: 6px;
    background: #FBD00F;
    text-decoration: none;
}


footer .center .buttons p{
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: lowercase;
}